<div class="container">
	<div class="row about">	<!-- start about -->
		<!--
		<div class="col-md-5 img_style">
			<img src="assets/images/about_pic.jpg" alt=""  class="img-responsive"/>
		</div>
		-->
		<div class="col-md-7">
		     <h4>Aplikasi Kependudukan dan Pencatatan Sipil Kota Bandung</h4>
		     <p class="para">Aplikasi ini ditujukan untuk memudahkan masyarakat sipil dan warga kota Bandung dalam memroses surat-surat kependudukan seperti KTP, KK dan surat mutasi penduduk serta surat-surat pencatatan sipil seperti akta kelahiran, akta kematian, akta pernikahan, akta perceraian dan akta pengakuan dan pengesahan anak.</p>
		     <p class="para">Diharapkan dengan hadirnya aplikasi ini dapat membantu warga Bandung sehingga memberikan layanan yang lebih solid dan juga terintegrasi dengan layanan sipil lainnya, sehingga meningkatkan efisiensi kinerja pemerintahan kota Bandung. </p>
			
		</div>
		<div class="clearfix"></div>
	</div><!-- end about -->
</div>