<div class="partial">
	<div class="row">
		<div class="col-md-12" ng-controller="AppKKCtrl">
		<br/>
			<div>
		        <!-- <a href="#" class="btn btn-primary">Create</a>  -->
		    </div>
		    <br>

		    <table class="table">
		        <thead>
		            <tr>
		            	<td>Id</td>
		                <td>Nama Marketing</td>
		                <td>Nama</td>
		                <td>Alamat</td>
		                <td>Telepon</td>
		                <td>Status</td>
		            </tr>
		        </thead>
		        <tbody>
		            <tr>
			            <td>a</td>
		                <td>a</td>
		                <td>a</td>
		                <td>a</td>
		                <td>a</td>
		                <td>a</td>
		                <td>
		                    <a href="#" class="btn btn-default">Approve</a>
		                    <a href="#" class="btn btn-default">Edit</a>
		                </td>
		            </tr>
		        </tbody>
		    
		    </table>
		</div>
	</div>		
</div>