<script type="text/javascript">
	function showText(obj) {
		if(obj.value=='Show') {
			document.getElementById('mytext').style.display='block';
			obj.value='Hide';
		} else {
			document.getElementById('mytext').style.display='none';
			obj.value='Show';
		}
	}
</script>

<div class="col-xs-12" ng-controller = "AktaKawinAdminDetailCtrl">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-xs-2 control-label">No Akta</label>
			<div class="col-xs-10">
				<div class="form-control">
					{{ datas.no_akta }}
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">NIK Suami</label>
			<div class="col-xs-10">
				<div class="form-control">
					{{ datas.nik_suami }}
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">NIK Istri</label>
			<div class="col-xs-10">
				<div class="form-control">
					{{ datas.nik_istri }}
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">Tanggal Nikah</label>
			<div class="col-xs-10">
				<div class="form-control">
					{{ datas.tanggal_nikah }}
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">Tempat Nikah</label>
			<div class="col-xs-10">
				<div class="form-control">
					{{ datas.tempat_nikah }}
				</div>
			</div>
		</div>
	</form>
</div>
