<div class="partial">
	<div class="row">
		<div class="col-xs-12 kk-approval" ng-controller="AktaCeraiAdminCreateCtrl">
			<div ng-show="isLogged">
				<h2>Pembuatan Akta Perceraian</h2>
				<form name="createAktaCeraiForm" class="form form-horizontal" ng-submit="submitRequestAktaCerai()">
					<div class="row">
						<div class="col-xs-5">
							<div class="form-group">
								<label class="col-xs-3 control-label">No Akta Kawin</label>
								<div class="col-xs-9">
									<input noaktakawin-validator ng-model="akta_kawin" class="form-control" type="text" name="akta_kawin" placeholder="Nomor Akta Kawin" required/>
									<div ng-if="createAktaCeraiForm.akta_kawin.$dirty">
					                    <div ng-messages="createAktaCeraiForm.akta_kawin.$error" class="validation-error">
					                        <div ng-message="noaktakawin">Nomor akta kawin tidak ada</div>
					                        <div ng-message="required">Nomor akta kawin dibutuhkan</div>
					                    </div>
					                    <div ng-messages="createAktaCeraiForm.akta_kawin.$pending" class="validation-pending">
					                        <div ng-message="noaktakawin">Sedang Mengecek Nomor akta kawin</div>
					                    </div>
					                </div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5">
							<div class="form-group">
								<label class="col-xs-3 control-label">Tanggal Cerai</label>
								<div class="col-xs-9">
									<input ng-model="tanggal_cerai" type="date" class="form-control" name="tanggal_cerai" id="tanggal_cerai" placeholder="Tanggal Cerai" required/>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5">
							<div class="form-group">
								<label class="col-xs-3 control-label">Tempat Cerai</label>
								<div class="col-xs-9">
									<input ng-model="tempat_cerai" type="text" class="form-control" name="tempat_cerai" id="tempat_cerai" placeholder="Tempat Cerai" required/>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5">
							<div class="form-group">
								<label class="col-xs-3 control-label"></label>
								<div class="col-xs-9">
									<button ng-disabled="createAktaCeraiForm.$invalid || createAktaCeraiForm.$pending" type="submit" class="btn btn default">Submit</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div ng-hide="isLogged">
				<h2>Maaf anda belum log in</h2>		
			</div>
		</div>
	</div>
</div>
