<script type="text/javascript">
	function showText(obj) {
		if(obj.value=='Show') {
			document.getElementById('mytext').style.display='block';
			obj.value='Hide';
		} else {
			document.getElementById('mytext').style.display='none';
			obj.value='Show';
		}
	}
</script>

<div class="col-xs-12" ng-controller = "AktaCeraiAdminDetailCtrl">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-xs-2 control-label">Nomor Akta Cerai</label>
			<div class="col-xs-10">
				<div class="form-control">
					{{ datas.no_akta }}
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">Nomor Akta Kawin</label>
			<div class="col-xs-10">
				<div class="form-control">
					{{ datas.akta_kawin }}
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">Tanggal Cerai</label>
			<div class="col-xs-10">
				<div class="form-control">
					{{ datas.tanggal_cerai }}
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">Tempat Cerai</label>
			<div class="col-xs-10">
				<div class="form-control">
					{{ datas.tempat_cerai }}
				</div>
			</div>
		</div>
	</form>
</div>
