<script type="text/javascript">
	function showText(obj) {
		if(obj.value=='Show') {
			document.getElementById('mytext').style.display='block';
			obj.value='Hide';
		} else {
			document.getElementById('mytext').style.display='none';
			obj.value='Show';
		}
	}
</script>

<div class="col-xs-12" ng-controller = "AktaKawinAdminDetailCtrl">
	<h2>{{datas.no_akta}}</h2>
	<div class="form-group">
		<label class="col-xs-2 control-label">NIK Suami</label>
		{{ datas.nik_suami }}
	</div>
	<div class="form-group">
		<label class="col-xs-2 control-label">NIK Istri</label>
		{{ datas.nik_istri }}
	</div>
	<div class="form-group">
		<label class="col-xs-2 control-label">Tanggal Nikah</label>
		{{ datas.tanggal_nikah }}
	</div>
	<div class="form-group">
		<label class="col-xs-2 control-label">Tempat Nikah</label>
		{{ datas.tempat_nikah }}
	</div>
</div>
