<div class="partial" ng-controller="CreateAktaMatiCtrl">
	<div class="row" ng-init="init()">
		<div class="col-xs-12 kk-approval" >
			<div ng-show="isLogged && !isFetchingData">
				<h2>Pembuatan Akta Kematian</h2>
				<form name="createAktaMatiForm" class="form form-horizontal" ng-submit="submitRequestAktaMati()">
					<div class="row">
						<div class="col-xs-5">
							<div class="form-group">
								<label class="col-xs-2 control-label">NIK</label>
								<div class="col-xs-10">
									<input nik-validator ng-model="nik" class="form-control" type="text" name="nik" placeholder="NIK" required/>
									<div ng-if="createAktaMatiForm.nik.$dirty">
					                    <div ng-messages="createAktaMatiForm.nik.$error" class="validation-error">
					                        <div ng-message="nik">NIK salah</div>
					                        <div ng-message="required">NIK  dibutuhkan</div>
					                    </div>
					                    <div ng-messages="createAktaMatiForm.nik.$pending" class="validation-pending">
					                        <div ng-message="nik">Sedang Mengecek NIK</div>
					                    </div>
					                </div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5">
							<div class="form-group">
								<label class="col-xs-2 control-label">Kota Meninggal</label>
								<div class="col-xs-10">
									<input ng-model="kota_meninggal" type="text" class="form-control" name="kota_meninggal" id="kota_meninggal" placeholder="Kota Meninggal" required/>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5">
							<div class="form-group">
								<label class="col-xs-2 control-label">Waktu Meninggal</label>
								<div class="col-xs-10">
									<input ng-model="waktu_meninggal" type="date" class="form-control" name="waktu_meninggal" id="waktu_meninggal" placeholder="Waku Meninggal" required/>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5">
							<div class="form-group">
								<label class="col-xs-2 control-label">Alamat</label>
								<div class="col-xs-10">
									<button ng-disabled="createAktaMatiForm.$invalid || createAktaMatiForm.$pending" type="submit" class="btn btn default">Submit</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div ng-hide="isLogged">
				<h2>Maaf anda belum log in</h2>		
			</div>
		</div>
	</div>
</div>
