<div class="col-md-8" ng-controller="CreateKKCtrl">
	<h2>Pembuatan Kartu Keluarga</h2>
	<p>*Tambahkan seluruh anggota keluarga anda</p>
	<form class="form form-horizontal">
		<div id="form-keluarga">
			<div class="form-group col-xs-5 cust-form">
				<input class="form-control" type="text" name="nik_keluarga_0" id="nik_keluarga_0" placeholder="NIK anggota keluarga"/>
			</div>
			<div class="form-group col-xs-5 cust-form">
				<select class="form-control" name="status_kel_0" id="status_kel_0">
				<option>Status dalam keluarga</option>
				<option>Kepala keluarga</option>
				<option>Istri</option>
				<option>Anak</option>
				<option>Cucu</option>
				</select>
			</div><br>
		</div>
		<!-- <div class="form-group col-xs-5 cust-form">
			<input class="form-control" type="text" name="nik" placeholder="NIK anggota keluarga"/>
		</div>
		<div class="form-group col-xs-5 cust-form">
			<select class="form-control">
				<option>Status dalam keluarga</option>
				<option>Kepala keluarga</option>
				<option>Istri</option>
				<option>Anak</option>
				<option>Cucu</option>
			</select>
		</div><br> -->
		<div class="form-group cust-form col-xs-10"><button type="button" class="btn btn-default" ng-click="addKeluarga()">Tambah anggota keluarga</button></div><br>
		<div class="form-group cust-form col-xs-10"><button type="button" class="btn btn default">Submit</button></div>
	</form>
</div>