<div class="col-md-12">
	<h2> Detail Permintaan Surat Mutasi Penduduk </h2>
	<br>
  <div class="col-md-4">
  		<p style="font-size:16px"> Nama Lengkap </p>
  		<p style="font-size:16px"> Tempat / Tanggal Lahir </p>
  		<p style="font-size:16px"> Jenis Kelamin </p>
  		<p style="font-size:16px"> Kewarganegaraan </p>
  		<p style="font-size:16px"> Alamat Asal </p>
  		<p style="font-size:16px"> Alamat Tujuan </p>
  		<p style="font-size:16px"> Alasan Pindah </p>
  		<p style="font-size:16px"> Pengikut </p>
  </div>
  <div class="col-md-8">
  		<p style="font-size:16px"> Budi Susanto </p>
  		<p style="font-size:16px"> Bandung, 4 Mei 1965 </p>
  		<p style="font-size:16px"> Laki-laki </p>
  		<p style="font-size:16px"> WNI </p>
  		<p style="font-size:16px"> Jl. Semangka no. 18 RT 01 RW 02 Kec. TalangSari Bandung </p>
  		<p style="font-size:16px"> Jl. Jeruk no. 18 RT 01 RW 02 Kec. TalangSari Bandung </p>
  		<p style="font-size:16px"> Tuntutan profesi </p>
  </div>
  <div class="row">
  </div>
  <div class="col-md-8">
	  <table class="table table-bordered">
	  	<tr>
	  		<td style="font-size:14px">Nama</td>
	  		<td style="font-size:14px">Jenis Kelamin</td>
	  		<td style="font-size:14px">Status Dalam Keluarga</td>
	  		<td style="font-size:14px">Pekerjaan</td>
	  	</tr>
	  	<tr>
	  		<td style="font-size:14px">Annisa Christine</td>
	  		<td style="font-size:14px">Perempuan</td>
	  		<td style="font-size:14px">Istri</td>
	  		<td style="font-size:14px">Ibu Rumah Tangga</td>
	  	</tr>
	  	<tr>
	  		<td style="font-size:14px">Budi Junior</td>
	  		<td style="font-size:14px">Laki-laki</td>
	  		<td style="font-size:14px">Anak</td>
	  		<td style="font-size:14px">-</td>
	  	</tr>
	  </table>
  </div>
  <div class="row"></div>
   <button type="submit" class="btn btn-default">Approve</button>
    <button type="submit" class="btn btn-default">Decline</button>
     <button type="submit" class="btn btn-default">Delete</button>
</div>