 <script type="text/javascript">
function showText(obj)
{
if(obj.value=='Show')
{
document.getElementById('mytext').style.display='block';
obj.value='Hide';
}
else
{
document.getElementById('mytext').style.display='none';
obj.value='Show';
}
return;
}
</script>

 <div class="col-md-12">
 <br><br>
	  <table class="table table-bordered">
	  	<tr>
	  		<td style="font-size:14px">Nama</td>
	  		<td style="font-size:14px">NIK</td>
	  		<td style="font-size:14px">Jenis Kelamin</td>
	  		<td style="font-size:14px">Tempat Lahir</td>
	  		<td style="font-size:14px">Tanggal Lahir</td>
	  		<td style="font-size:14px">Agama</td>
	  	</tr>
	  	<tr>
	  		<td style="font-size:14px">Budi Susanto</td>
	  		<td style="font-size:14px">123798123981937</td>
	  		<td style="font-size:14px">Laki-laki</td>
	  		<td style="font-size:14px">Bandung</td>
	  		<td style="font-size:14px">4 Mei 1965</td>
	  		<td style="font-size:14px">Islam</td>
	  	</tr>
	  	<tr>
	  		<td style="font-size:14px">Annisa Christine</td>
	  		<td style="font-size:14px">18738912738398</td>
	  		<td style="font-size:14px">Perempuan</td>
	  		<td style="font-size:14px">Bandung</td>
	  		<td style="font-size:14px">5 Mei 1965</td>
	  		<td style="font-size:14px"></td>
	  	</tr>
	  	<tr>
	  		<td style="font-size:14px">Budi Junior</td>
	  		<td style="font-size:14px">47584789531413</td>
	  		<td style="font-size:14px">Laki-laki</td>
	  		<td style="font-size:14px">Bandung</td>
	  		<td style="font-size:14px">7 Juli 1995</td>
	  		<td style="font-size:14px">Islam</td>
	  	</tr>
	  </table>
	  <div class="row"></div>
   <button type="submit" class="btn btn-default">Approve</button>
   <button type="submit" class="btn btn-default">Decline</button>
   <button type="submit" class="btn btn-default">Delete</button>
  
  </div>