<div class="col-md-12">
	<h2>Detail Data Kependudukan</h2>
	<br>
  <div class="col-md-4">
  		<p style="font-size:16px">NIK</p>
  		<p style="font-size:16px">Nama</p>
  		<p style="font-size:16px">Tempat lahir</p>
  		<p style="font-size:16px">Tanggal lahir</p>
  		<p style="font-size:16px">Jenis kelamin</p>
  		<p style="font-size:16px">Agama</p>
  		<p style="font-size:16px">Status perkawinan</p>
  		<p style="font-size:16px">Pekerjaan</p>
      <p style="font-size:16px">Kewarganegaraan</p>
  </div>
  <div class="col-md-8">
  		<p style="font-size:16px">3212152707960123</p>
  		<p style="font-size:16px">Budi Susanto</p>
  		<p style="font-size:16px">Bandung</p>
  		<p style="font-size:16px">4 Mei 1995</p>
  		<p style="font-size:16px">Laki-laki</p>
  		<p style="font-size:16px">Islam</p>
  		<p style="font-size:16px">Kawin</p>
      <p style="font-size:16px">Wiraswasta</p>
      <p style="font-size:16px">WNI</p>
  </div>
</div>