<div class="container">
	<div class="features"><!-- start feature -->
		<div class="row features_list">
			<div class="col-md-3 feature">
				<div class="fancyDemo">
					<a rel="group" title="" href="web/images/ser_pic1.jpg"><img src="web/images/ser_pic1.jpg" alt=""class="img-responsive"/></a>
				</div>
				<p class="para">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
				<a href="single-page.html"> consectetur lipsum</a>
			</div>
			<div class="col-md-3 feature">
				<div class="fancyDemo">
					<a rel="group" title="" href="web/images/ser_pic2.jpg"><img src="web/images/ser_pic2.jpg" alt=""class="img-responsive"/></a>
				</div>
				<p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
				<a href="single-page.html">Lorem Ipsum simply</a>
			</div>
			<div class="col-md-3 feature">
				<div class="fancyDemo">
					<a rel="group" title="" href="web/images/ser_pic3.jpg"><img src="web/images/ser_pic3.jpg" alt=""class="img-responsive"/></a>
				</div>
				<p class="para">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
				<a href="single-page.html"> consectetur lipsum</a>
			</div>
			<div class="col-md-3 feature">
				<div class="fancyDemo">
					<a rel="group" title="" href="web/images/ser_pic4.jpg"><img src="web/images/ser_pic4.jpg" alt=""class="img-responsive"/></a>
				</div>
				<p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
				<a href="single-page.html">Lorem Ipsum simply</a>
			</div>
		</div>
		<div class="row features_list1"><!-- start feature -->
			<div class="col-md-3 feature">
				<div class="fancyDemo">
					<a rel="group" title="" href="web/images/ser_pic5.jpg"><img src="web/images/ser_pic5.jpg" alt=""class="img-responsive"/></a>
				</div>
				<p class="para">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
				<a href="single-page.html">Lorem Ipsum simply</a>
			</div>
			<div class="col-md-3 feature">
				<div class="fancyDemo">
					<a rel="group" title="" href="web/images/ser_pic6.jpg"><img src="web/images/ser_pic6.jpg" alt=""class="img-responsive"/></a>
				</div>
				<p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
				<a href="single-page.html"> consectetur lipsum</a>
			</div>
			<div class="col-md-3 feature">
				<div class="fancyDemo">
					<a rel="group" title="" href="web/images/ser_pic7.jpg"><img src="web/images/ser_pic7.jpg" alt=""class="img-responsive"/></a>
				</div>
				<p class="para">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
				<a href="single-page.html">Lorem Ipsum simply</a>
			</div>
			<div class="col-md-3 feature">
				<div class="fancyDemo">
					<a rel="group" title="" href="web/images/ser_pic8.jpg"><img src="web/images/ser_pic8.jpg" alt=""class="img-responsive"/></a>
				</div>
				<p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
				<a href="single-page.html"> consectetur lipsum</a>
			</div>
		</div>
	</div><!-- end feature -->
</div>