<div class="header_bg"><!-- start header -->
	<div class="container">
		<div class="row header">
			<nav class="navbar" role="navigation">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="" class="img-responsive"/> </a>
			    </div>
			    <!-- Collect the nav links, forms, and other content for toggling -->

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="menu nav navbar-nav ">
						<li ng-class="{active : isHome}"><a ui-sref = "home" ng-click = "home()">home</a></li>
						<li ng-class="{active : isFeatures}"><a ui-sref="features" ng-click = "features()">KK</a></li>
						<li ng-class="{active : isBlog}"><a ui-sref="blog" ng-click = "blog()">Mutasi Penduduk</a></li>
						<li class = "dropdown" ng-class="{active : isContact}"><a ui-sref="contact" ng-click = "contact()">Data Kependudukan</a></li>
						<li ng-class="{active : isAbout}"><a ui-sref="about" ng-click = "about()">about</a></li>
					</ul>
			      	<div class="rightheader" ng-show = "user.isUserLogged">
				    	<div class="rightheaderelement">
				    		{{user.nama}}
				    	</div>
				    	<div class="rightheaderelement">
				    		<a href="" ng-click="logout()">
				    			LOGOUT
				    		</a>
				    	</div>
			    	</div>
			    </div><!-- /.navbar-
			    collapse -->
			    
			  </div><!-- /.container-fluid -->
			</nav>
		</div>
		<div class="row slider text-center" ng-show = "isHome">
			<div class="col-md-8">
					<div class="col-md-10 slider_text">
						<h2>Cabut uban</h2>
						<h3>pencatatan sipil dan kependudukan untuk bandung!</h3>
					</div>
			</div>
			<div class="col-md-4" ng-hide = "user.isUserLogged">
				<div class="contact-form">
					<h2 style="color: #FFF">Login Penduduk</h2>
					<form name="loginForm" class="form box-form" role="form"  ng-submit="login()">
						
						<div class="form-group">
							<span><label for="NIK" class="col-sm-2" style="color:#fff">NIK: </label></span>
							<input nik-validator type="text" class="form-control" ng-model = "nik" name="nik" id="NIK" placeholder="NIK" required/>
		                    <div ng-if="loginForm.nik.$dirty">
		                        <div ng-messages="loginForm.nik.$error" class="validation-error">
		                            <div ng-message="nik">Nik tidak valid</div>
		                            <div ng-message="required">Nik required</div>
		                        </div>
		                        <div ng-messages="loginForm.nik.$pending" class="validation-pending">
		                            <div ng-message="nik">Cek Nik</div>
		                        </div>
		                    </div>
						</div>
						<div class="form-group">
							<span><label for="password" class="col-sm-2" style="color:#fff">Password</label></span>
							<input type="password" class="form-control" ng-model = "password" id="password" name="password" placeholder="password" required/>
						</div>
						<button type="submit" class="btn btn-default" ng-disabled="loginForm.$invalid || loginForm.$pending">Go</button>
					</form>
				</div>
			</div>
		</div>
		<ol class="breadcrumb" ng-show = "!isHome">
		  <li><a href="#" ng-click ="home()">Home</a></li>
		  <li class="active">features</li>
		</ol>
	</div>
</div>