<div class="container main">
	<div class="row grids_of_3">
				<div class="col-md-4 grid1_of_3">
					  <h2>user Profiles</h2>
					  <img src="assets/images/icon1.png" class="img-responsive"/>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				     <div class="rd_more1">
						<a href="single-page.html"><button class="btn_style">view more</button></a>
					</div>					
				</div>
				<div class="col-md-4 grid1_of_3">
					<h2>services</h2>
					  <img src="assets/images/icon2.png" class="img-responsive"/>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				      <div class="rd_more1">
						<a href="single-page.html"><button class="btn_style">view more</button></a>
					</div>					
				</div>
				<div class="col-md-4 grid1_of_3">
					<h2>Get in Touch</h2>
					  <img src="assets/images/icon3.png" class="img-responsive"/>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				     <div class="rd_more1">
						<a href="single-page.html"><button class="btn_style">view more</button></a>
					</div>	
				</div>
			    <div class="clearfix"></div>
	</div>
</div>