<div class="col-md-10 kk-approval">
<div class="table-responsive">
	<h2>Permintaan Pembuatan Kartu Keluarga</h2>
	<table class="table table-bordered cust-table">
		<tr class="active">
			<td>
				<input type="checkbox" name="check_all"/>
			</td>
			<td class="col-xs-6">Nomor Permintaan</td>
			<td class="col-xs-6">NIK Peminta</td>
		</tr>
		<tr>
			<td>
				<input type="checkbox" name="check_0"/>
			</td>
			<td>84417613756465</td>
			<td>23578652526582</td>
		</tr>
		<tr>
			<td>
				<input type="checkbox" name="check_1"/>
			</td>
			<td>38574687165857</td>
			<td>89347672756282</td>
		</tr>
		<tr>
			<td>
				<input type="checkbox" name="check_2"/>
			</td>
			<td>57894375837583</td>
			<td>46784682758626</td>
		</tr>
	</table>
</div>
<button type="button" name="approve_all" class="btn btn-default btn-sm">Approve All</button>
<button name="decline_all" class="btn btn-default btn-sm">Decline All</button>
<button name="remove_all" class="btn btn-default btn-sm">Remove All</button>
</div>