<div class="col-md-10 kk-approval" ng-controller="AppKKCtrl">
<div class="table-responsive">
	<h2>
		<div class="col-xs-8">
			Permintaan Pembuatan Kartu Keluarga		
		</div>
		<div class="col-xs-4">
			<input type="search" size = "19.5" ng-model="q" placeholder="filter kk..." />	
		</div>
	</h2>
	<table class="table table-bordered cust-table">
		<tr class="active" >
			<td>
				<input type="checkbox" name="check_all"/>
			</td>
			<td class="col-xs-6">Nomor Permintaan</td>
			<td class="col-xs-6">NIK Peminta</td>
		</tr>
		<tr class="active" ng-repeat="data in datas | filter:q as results">
			<td>
				<input type="checkbox"/>
			</td>
			<td class="col-xs-6">{{data.id}}</td>
			<td class="col-xs-6"><a ng-href="#/features/detail/{{data.no_kk}}">{{data.no_kk}}</a></td>
		</tr>
	</table>
</div>
<button type="button" name="approve_all" class="btn btn-default btn-sm">Approve All</button>
<button name="decline_all" class="btn btn-default btn-sm">Decline All</button>
<button name="remove_all" class="btn btn-default btn-sm">Remove All</button>
</div>