<div class="col-md-2"></div>	
<div class="col-md-8">
<div class="table-responsive">
	<h2>Data Kependudukan</h2>
	<table class="table table-bordered">
		<tr class="active">
			<td class="col-xs-3">NIK</td>
			<td class="col-md-9">Nama</td>
		</tr>
		<tr>
			<td>84417613756465</td>
			<td>Budi Susanto</td>
		</tr>
		<tr>
			<td>385746871658576</td>
			<td>Gifari Kautsar</td>
		</tr>
		<tr>
			<td>57894375837583</td>
			<td>William Huang</td>
		</tr>
	</table>
</div>
</div>	
<div class="col-md-2"></div>