.box-form{
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	padding: 30px;
}

.navbar-profile{
	width: 200px;
	background: #ff0;
}

.rightheaderelement{
	color: #354B77;
	font-weight: bold;
	margin-right: 10%;
	display: inline;
	float: none;
}

.rightheaderelement a{
	text-decoration: none;
	color: #354B77;
}

.err-message{
	color: #F81414 !important;
}

.rightheaderelement a:hover {
	color: #F15F43;
	border-bottom: 2px solid #F15F43;
}

.rightheader{
	margin-top: 2.5%;
	font-size: 14px;
	float: right;

}

.btn-default:disabled{
	color: #727563;
	background-color: rgba(241,241,239,0.6);
}

.cust-form{
	margin-left: 20px !important;
	margin-bottom: 10px !important;
}


.kk-approval{
	margin-top: 30px;
	margin-bottom: 100px;
	margin-left: 10%; 
	margin-right: 10%;
	padding-bottom: 50px;
	border-bottom: solid thin #354B77;
}

.cust-margin{
	margin-bottom: 100px;
	padding-bottom: 50px;
	border-bottom: solid thin #354B77;
}

.cust-table{
	text-align: center;
}

.partial{
	margin-left: 20px;
	min-height: 400px;
}

@media (max-width: 768px){
	.rightheader{
		margin-top: 0px;
		border-top: solid thin #354B77;
		float: none;
	}
	.rightheaderelement{
		display: block;
		padding: 4px 8px;
	}
}

.dropdown:hover .dropdown-menu{
	display: block;
}

.password-error{
	color: #E31D07;
	background-color: #FFF;
	border-radius: 10px;
	padding: 5px;
	font-weight: bold;
}